@import '../../styles/globalVariables.scss';
.list {
  color: $dark-grayish-blue;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  &:hover {
    color: $very-dark-blue;
  }
}
