@import '../../styles/globalVariables.scss';

.container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;

  .asideContent {
    padding-top: 20px;
    width: 15%;
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      margin-bottom: 10px;
    }
  }
  .contentMain {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
  }
}
