@import '../../styles/globalVariables.scss';

.container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;

  .asideContent {
    padding-top: 20px;
    width: 15%;
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      margin-bottom: 10px;
      color: $dark-grayish-blue;
      display: flex;
      align-items: first baseline;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
        color: $very-dark-blue;
      }
    }
  }
  .contentMain {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
  }
}
