@import '../../styles/globalVariables.scss';

.container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;

  .asideContent {
    padding-top: 20px;
    width: 15%;
    background-color: aqua;
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 10px;
        border-radius: 10px;
        &:hover {
          background-color: red;
          cursor: pointer;
        }
      }
    }
  }
  .contentMain {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
  }
}
