@import '../../styles/globalVariables.scss';
.movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;

  img {
    height: 260px;
    max-width: 170px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

.movieInfos {
  padding: 15px 0;
  text-align: center;
  .movieTitle {
    margin: auto;
    font-size: 15px;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: $very-dark-blue;
    padding: 5px;
  }
}
