@import '../../styles/globalVariables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  .logoImg {
    max-width: 100px;
  }
  .nav {
    display: flex;
    gap: 25px;
  }
  a {
    color: $dark-grayish-blue;
    text-decoration: none;
  }
  a:hover {
    color: $very-dark-blue;
  }
}
